body {
    background-color: rgb(112, 169, 189);
}
table {
    width: 50%;
    margin: auto;
    text-align: center;
}
td {
    width: 100px;
}
button {
    width: 150px;
    height: 60px;
    background-color: rgb(188, 214, 224);
    border: none;
    font-size: 20px;
    font-weight: bold;
}
input {
    width: 175px;
    height: 40px;
    background-color: rgb(188, 214, 224);
    border: none;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
h1 {
    margin-top: -5px;
    margin-bottom: -5px;
    font-size: 50px;
}